---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Storm E. Forest Design</h1>
			<p class="hero__text__small">
				My name is Storm (they/them)
			</p>
			<p class="hero__text__small">
				I am a freelance graphic designer and photographer
			</p>
			<p class="hero__text__small">
				If you have any questions or would like to get started on your project please send me an email at 
				<b>stormeforest@gmail.com</b> to get in touch. I look forward to working with you!
			</p>
			<Boton href="#about" texto="More about me"/>
		</div>
    <img
		class="hero__img"
		src="/yawvie.github.io/img/Raven_H1.png"
		alt="An illustration of a Raven"
		width="384"
    	height="384"
	/>
	</div>
</section>
