---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<!-- <SkillsOnTerminal /> -->
	<div class="text-content">
		<Title contenido="Services" />
		<p class ="text-content">
			Storm specializes in creating graphics and visuals that are created strategically for your intended audience. 
			Storm offers a variety of services to reach your audience and help you and your business succeed. Some examples of services Storm can help you with are:
		</br>
	    </br>
			<b>Visual Identity</b> Logo, Color Palette, Fonts & Typographic Style, Visual Language, Stationery, Visual Style Guide, Icons & More
		</br>
		</br>
			<b>Environmental</b> Signs, Large Format Banners & Posters, Billboards, Navigation & Wayfinding,
		</br>
		</br>
			<b>Event & Promotional</b> Posters, Social Media Posts,
	    </br>
		</br>
			<b>Documents & Publications</b> Typography, Book Design, Templates and Editing
		</br>
		</br>
			<b>Photography</b> Product, People, Events, Real Estate & More
		</br>
		</br>
			<b>Illustration | Packaging | User Experience & User Interface | Social Media Graphics | Websites</b>
		</p>
	</div>
	<!-- <div class="text-list">
		<p>
			<b>- Visual Identity Package</b></br>Logo</br>Stationery</br>Visual Style Guide</br>Brand Colors</br>Typography
		</p>
	</div>
	<div class="text-list2">
		<p>
			<b>- Environmental</b></br>Signage</br>Large-scale Imagery</br>Billboard Ads</br>Navigation</br>Wayfinding
		</p>
	</div>
	<div class="text-list3">
		<p>
			<b>- Event & Promotional</b></br><b>- Illustration</b></br><b>- Packaging</b></br><b>- User Experience and User Interface</b></br>
			<b>- Social Media Graphics</b></br><b>- Document Design & Formatting</b></br><b>- Templates</b></br><b>- Websites</b></br>
		</p>
	</div> -->
</section>
