---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Page not found">
        <h1 class="text-xl">Page not found</h1>
        <Boton texto="Return" href="/"/>
</Layout>